h1{
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: xx-large;
}
body{
    background-image: url("public/images/Asien/Asien\ ensam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    margin: 20px;
}

.korea{
    margin: 20px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    padding:20px;
    
}
.japan{
    margin: 10px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    padding: 20px;
}
.singapore{
    margin: 20px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    padding: 20px;
}
.kina{
    margin: 10px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    padding: 20px;
}
